  <nav id="sidebar" class="float-left">
      <div class="sidebar-header p-3">
          <div id="sidebarCollapse" (click)="openClose()" class="btn btn-dark" >
            <mat-icon>{{openCloseIcon}}</mat-icon>
          </div>
        </div>
        <hr class="m-2">
      <ul class="list-group components pt-0">
        <li id="board" class="list-group-item d-flex align-items-center">
          <a routerLink='/board'>
            <span class="badge bg-dark badge-pill ml-3 mr-3"> <mat-icon>dashboard</mat-icon></span>
            <span id="a_board" class="side-menu-title">
              Board
            </span>
          </a>
        </li>
        <li id="backlog" class="list-group-item d-flex align-items-center">
          <a routerLink='/backlog'>
          <span class="badge bg-dark badge-pill ml-3 mr-3"> <mat-icon>wrap_text</mat-icon></span>
            <span id="a_backlog" class="side-menu-title">
            Backlog
            </span>
          </a>
        </li>
          <li id="sprints" class="list-group-item d-flex align-items-center">
            <a id="a_sprints" routerLink='/sprints'>
            <span class="badge bg-dark badge-pill ml-3 mr-3">  <mat-icon>directions_run</mat-icon></span>
              <span class="side-menu-title">
              Sprints
              </span>
            </a>
          </li>
      </ul>

  </nav>
