<h1 *ngIf="!dialogFormData.entity" mat-dialog-title class="text-center">Add new Sprint</h1>
<div class="project-dialog" mat-dialog-content>
  <form [formGroup]="sprintForm" class="sprintForm" (submit)="onSubmitClick()" novalidate>
    <table>
      <tr>
        <td formGroupName="project">
          <mat-form-field >
            <mat-label>Project</mat-label>
            <mat-select [formControl]="projectFormControl">
              <mat-option *ngFor="let project of projects" [value]="project.id">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field  class="form-field-sprintTitle">
            <mat-label>Tiltle</mat-label>
            <input matInput [formControl]="titleFormControl">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field  class="form-field-sprintDescription">
            <mat-label>Description</mat-label>
            <textarea matInput [formControl]="descriptionFormControl"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field  class="form-field-businessValue">
            <mat-label>Business Value</mat-label>
            <input type="number" matInput [formControl]="businessValueFormControl">
            <mat-error *ngIf="hasError('businessValue','pattern') && !hasError('businessValue','required')">
              Business value should be in [1, 3, 5 or 9 ].
              </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field >
            <mat-label>Status</mat-label>
            <mat-select [formControl]="statusFormControl">
              <mat-option *ngFor="let status of enumKeys(statuses)" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="formError">
        <td>
          <span class="mat-error">{{formErrorMessage}}</span>
        </td>
      </tr>
    </table>
    <div mat-dialog-actions class="float-end">
      <button *ngIf="dialogFormData.entity" mat-raised-button type="submit" [disabled]="!sprintForm.valid">Update</button>
      <button *ngIf="!dialogFormData.entity" mat-raised-button type="submit" [disabled]="!sprintForm.valid">Save</button>
      <button mat-button [mat-dialog-close]="dialogFormData.entity">Cancel</button>
    </div>
  </form>
</div>
