<h1 *ngIf="!dialogFormData.entity" mat-dialog-title class="text-center">Add Sprint</h1>
<div class="project-dialog" mat-dialog-content>
  <form [formGroup]="sprintForm" class="sprintForm" (submit)="onSubmitClick()" novalidate>
    <table>      
      <tr>
        <td colspan="2">
          <mat-form-field  class="form-field-sprintTitle">
            <mat-label>Tiltle</mat-label>
            <input matInput [formControl]="titleFormControl">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field  class="form-field-sprintDescription">
            <mat-label>Description</mat-label>
            <textarea matInput [formControl]="descriptionFormControl"></textarea>
          </mat-form-field>
        </td>
      </tr>           
      <tr *ngIf="formError">
        <td>
          <span class="mat-error">{{formErrorMessage}}</span>
        </td>
      </tr>
    </table>
    <div mat-dialog-actions class="float-end">
      <button *ngIf="dialogFormData.entity" mat-raised-button type="submit" [disabled]="!sprintForm.valid">Update</button>
      <button *ngIf="!dialogFormData.entity" mat-raised-button type="submit" [disabled]="!sprintForm.valid">Save</button>
      <button mat-button [mat-dialog-close]="dialogFormData.entity">Cancel</button>
    </div>
  </form>
</div>
