<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
    {{sprint.title}}
    </mat-panel-title>
    <mat-panel-description style="flex-grow: 0;">
    <mat-chip-listbox>
      <mat-chip [ngStyle]="{'backgroundColor': sprint.iconStatusColor, 'color':'white'}">{{sprint.status}}</mat-chip>
    </mat-chip-listbox>
    </mat-panel-description>
    <button mat-icon-button class="float-start" color="primary">
      <mat-icon (click)="addEditProject(sprint)">edit</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <jiki-item-story-preview *ngFor="let story of filteredStories$ | async" [story]='story'></jiki-item-story-preview>
</mat-expansion-panel>
<br>
