<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
    {{title}}
    </mat-panel-title>
    <mat-panel-description style="flex-grow: 0;">
    <mat-chip-listbox>
      <mat-chip [ngStyle]="{'backgroundColor': sprint.iconStatusColor, 'color':'white'}">{{statuses | constantType: sprint.status}}</mat-chip>
    </mat-chip-listbox>
    </mat-panel-description>
    <button mat-raised-button class="float-start me-2" color="primary" (click)="startSprint()" *ngIf="notStarted">
      Start sprint
    </button>
  </mat-expansion-panel-header>
  <jiki-item-story-preview *ngFor="let story of filteredStories$ | async" [story]='story'></jiki-item-story-preview>
</mat-expansion-panel>
<br>
