<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
    {{project.name}}
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="isBacklog">
        BACKLOG
        </span>
    <mat-chip-listbox *ngIf="!isBacklog">
      <mat-chip [ngStyle]="{'backgroundColor': project.iconStatusColor, 'color':'white'}">{{project.status}}</mat-chip>
    </mat-chip-listbox>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <jiki-item-story-preview *ngFor="let story of filteredStories$ | async" [story]='story' (contextmenu)="onContextMenu($event, story)"></jiki-item-story-preview>
</mat-expansion-panel>
<br>
<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
   <span class="p-1">Move to</span>
   <div>
     <button class="btn-light" mat-menu-item (click)="moveToSprint()">{{currentSprint.title}}</button>
    </div>
   <div *ngIf="!isBacklog">
   <hr class="m-1">
    <button mat-menu-item class="btn-light" *ngFor="let project of projects" (click)="moveToBacklog(project)">{{project.name}}</button>
	</div>
  </ng-template>
</mat-menu>
