<div class="container-fluid">
  <div class="row" *ngIf="currentSprint">
    <div class="col-sm">
     <jiki-page-title [title]='currentSprint.title'></jiki-page-title>
    </div>
  </div>
  <div class="row" *ngIf="currentSprint">
      <div class="filter-row">
        <mat-toolbar class="bg-white">
          <div class="col-sm pl-0">
            <mat-form-field class="w-300">
              <mat-label>Reporter</mat-label>
              <mat-select  [formControl]="selectReporterFormControl" (selectionChange)="filterUserChanged($event)" multiple>

                <mat-select-trigger>
                  <mat-chip-list [style.display]="'contents'">
                    <mat-chip *ngFor="let rep of selectReporterFormControl.value" [style.font.size.px]="10"
                    [removable]="true" (removed)="onReporterRemoved(rep)">
                    {{ rep.firstname }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

                <mat-option *ngFor="let user of reporterList" [value]="user">
                  {{ user.firstname + ' ' + user.lastname.toUpperCase() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field class="w-300">
              <mat-label>Assigned To</mat-label>
              <mat-select  [formControl]="selectAssigneeFormControl" (selectionChange)="filterUserChanged($event)" multiple>

                <mat-select-trigger>
                  <mat-chip-list>
                    <mat-chip *ngFor="let ass of selectAssigneeFormControl.value" [style.font.size.px]="10"
                      [removable]="true" (removed)="onAssigneeRemoved(ass)">
                      {{ ass.firstname }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </mat-select-trigger>

                <mat-option *ngFor="let user of assigneeList" [value]="user">
                  {{ user.firstname + ' ' + user.lastname.toUpperCase() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-toolbar>
      </div>
    </div>
    <div class="row" *ngIf="!currentSprint">
      No sprint was found
    </div>
  <div class="row" *ngIf="currentSprint">
    <div class="col-md-4">
      <div class="box-container-dd">
        <h2>To do</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todoStories"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"
          class="item-box-list-dd"
          (cdkDropListDropped)="drop($event)">
          <div class="item-box-dd mb-1" *ngFor="let story of todoStories" cdkDrag>
            <jiki-item-story-sprint [story]='story'></jiki-item-story-sprint>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container-dd">
        <h2>In progress</h2>

        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgressStories"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="item-box-list-dd"
          (cdkDropListDropped)="drop($event)">
          <div class="item-box-dd mb-1" *ngFor="let story of inProgressStories" cdkDrag>
            <jiki-item-story-sprint [story]='story'></jiki-item-story-sprint>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container-dd">
        <h2>Done</h2>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="doneStories"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          class="item-box-list-dd"
          (cdkDropListDropped)="drop($event)">
          <div class="item-box-dd mb-1" *ngFor="let story of doneStories" cdkDrag>
            <jiki-item-story-sprint [story]='story'></jiki-item-story-sprint>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
