<div class="m-0 px-4 pt-3" *ngIf="story">
  <div class="row mb-4">
    <div class="col-6 col-md-1">
      <img alt="" border="0" src="assets/icons/user-story.png" height="50" width="50">
    </div>
    <div class="col-12 col-md-11">
      <div class="filter-row">
        <jiki-page-title title="{{story.title}}"></jiki-page-title>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-4" [formGroup]="storyForm"> -->
    <div class="row mb-4">
    <div class="col-12 col-md-8">
      <div class="row mb-4">
        <div class="col-12 col-md-4">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Type :</td>
                <td>type_value</td>
              </tr>
              <tr>
                <td>Priority :</td>
                <td>priority_value</td>
              </tr>
              <tr>
                <td>Sprint :</td>
                <td colspan="3">sprint_value</td>
              </tr>
              <tr>
                <td>Story Points :</td>
                <td colspan="3">story_points</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="col-12 col-md-4">
          </div>
          <div class="col-12 col-md-4">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Statusno :</td>
                  <td>status_Value</td>
                </tr>
                <tr>
                  <td>Version :</td>
                  <td>version_value</td>
                </tr>
              </tbody>
            </table>
            </div>
      </div>
      <div class="row mb-4">
        <h5>Description</h5>
        <!-- <angular-editor formControlName="description" [config]="editorConfig"></angular-editor> -->
      </div>
      <!--  -->
      <!-- <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>-->

      <div class="row mb-4 comments-box">
        <h5>Commentaires</h5>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Assigned To :</td>
            <td>assigne</td>
          </tr>
          <tr>
            <td>Reporter :</td>
            <td>priority_value</td>
          </tr>
          <tr>
            <td>Creation :</td>
            <td>screqtion_Date</td>
          </tr>
          <tr>
            <td>Estimated Date :</td>
            <td>estimated_date</td>
          </tr>
          <tr>
            <td>Update Date :</td>
            <td>update_date</td>
          </tr>
          <tr>
            <td>End Date :</td>
            <td>end_date</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- </form> -->
  </div>
 </div>
