<div class="m-0 px-4 pt-3" *ngIf="sprints">
  <div class="filter-row px-4 pt-3">
     <jiki-page-title title='{{project.name}} - Sprints'></jiki-page-title>
     <button mat-mini-fab class="float-end">
      <mat-icon (click)="addEditProject(emptySprint)">add</mat-icon>
    </button>
  </div>
  <div class="filter-row px-4 ">
    <mat-toolbar class="ps-0" style="background: white">
      <div class=" col-sm ps-0">
        <mat-form-field appearance="legacy" [style.width.px]="300">
          <mat-hint>Search</mat-hint>
          <input matInput  (keyup)="filterTextChanged($event)"/>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <span class="item-spacer"></span>
      <div class="col-sm">
        <mat-form-field>
          <mat-hint>Reporter</mat-hint>
          <mat-select  [formControl]="selectReporterFormControl" (selectionChange)="filterReporterChanged($event)" multiple>

            <mat-select-trigger>
              <mat-chip-list [style.display]="'contents'">
                <mat-chip *ngFor="let rep of selectReporterFormControl.value" [style.font.size.px]="10"
                  [removable]="true" (removed)="onReporterRemoved(rep)">
                  {{ rep.firstname }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>

            <mat-option *ngFor="let user of reporterList" [value]="user">
              {{ user.firstname + ' ' + user.lastname.toUpperCase() }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span class="item-spacer"></span>
      <div class="col-sm">
        <mat-form-field >
          <mat-hint>Assigned To</mat-hint>
          <mat-select  [formControl]="selectAssigneeFormControl" (selectionChange)="filterAssigneeChanged($event)" multiple>

            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let ass of selectAssigneeFormControl.value" [style.font.size.px]="10"
                  [removable]="true" (removed)="onAssigneeRemoved(ass)">
                  {{ ass.firstname }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>

            <mat-option *ngFor="let user of assigneeList" [value]="user">
              {{ user.firstname + ' ' + user.lastname.toUpperCase() }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span class="item-spacer"></span>
      <div class="col-sm">
        <mat-form-field>
          <mat-hint>Status</mat-hint>
          <mat-select [formControl]="selectStatusFormControl"(selectionChange)="filterStatusChanged($event)" multiple>

            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let status of selectStatusFormControl.value" [style.font.size.px]="10"
                [removable]="true" (removed)="onStatusRemoved(status)">
                {{ status.replace("_"," ") }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>

          <mat-option *ngFor="let status of statusList" [value]="status" >
            {{ status.replace("_"," ")}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
  </div>
  <hr>
  <div class="sprints-row pt-5">
    <div class="m-0">
    <jiki-item-sprint-resume
      *ngFor="let sprint of sprints"
      [sprint]="sprint"
      [filterText]="filterText"
      [filterAssignee]="filterAssignee"
      [filterReporter]="filterReporter"
      [filterStatus]="filterStatus"
    ></jiki-item-sprint-resume>
    </div>
  </div>
</div>
