<span matBadge="{{story.reporter.firstname[0].toUpperCase()}}" matBadgePosition="before" matBadgeColor="accent">
  <div class="d-flex bd-highlight pt-2 pl-2 pr-2 pb-0 item-story-preview" >
    <mat-icon [ngStyle]="{'color': story.iconTypeColor}">{{story.iconType}}</mat-icon>
    <div class="p-2 bd-highlight blue-color-global">
      <a [routerLink]="['/story/',story.id]" routerLinkActive="router-link-active" id="id_story">{{story.longtitle}}</a>
    </div>
    <div class="p-2 flex-grow-1 bd-highlight">
      {{story.title}}
    </div>
    <div class="p-2 bd-highlight">
     <mat-icon [ngStyle]="{'color': story.iconStatusColor}">{{story.iconStatus}}</mat-icon>
    </div>
    <div *ngIf='story.assignedUser' class="bd-highlight avatar-circle avatar-circle-sprints avatar-circle-small avatar-background-color-reporter">
      <span class="initials">
        {{story.assignedUser.firstname[0].toUpperCase()}}
      </span>
     </div>
  </div>
</span>
