
    <!-- <div class="col-lg-3 mbr-col-md-10"> -->
        <div class="wrap shadow-lg">
            <table>
                <tbody >
                    <tr>
                        <td width="30%">
                            <div class="ico-wrap text-center">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                        </td>
                        <td>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-6 col-black">{{user | selectUserView}}</h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6 text-center p-0">{{jobTitles | constantType: user.jobTitle}}</p>
                            </div>

                        </td>
                    </tr>
                </tbody>  
            </table>
        </div>
    <!-- </div> -->
