<div class="m-0 px-4 pt-3" *ngIf="story && users$">
  <form #f="ngForm">
    <!-- <pre>{{f.value | json}}</pre> -->
  <div class="row mb-4">
      <div class="col-md-1 bd-highlight h4" style="line-height: 1.5;">
        <a [routerLink]="['/stories/viewEdit/',story.id]" routerLinkActive="router-link-active" id="id_story">{{story.longtitle}}</a>
      </div>
      <div class="col-md-11 bd-highlight h4">
        <textarea name="title" (blur)="onLostFocus($event);"
                  style="height: 30px; line-height: 1.2; width: 30%;" [(ngModel)]="newStory.title" class="textarea-inline-control" cdkTextareaAutosize >
        </textarea>      
      </div>
  </div>
    <div class="row mb-4">
    <div class="col-12 col-md-8">
      <div class="row mb-4">
        <div class="col-12 col-md-5 ps-0">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="fw-bold">Type :</td>
                <td>                 
                  <mat-icon  [ngStyle]="{'color': story.iconTypeColor}">{{story.iconType}}</mat-icon>                  
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Priority :</td>
                <td>
                  <textarea name="priority" (blur)="onLostFocus($event);"
                    [(ngModel)]="newStory.priority" class="textarea-inline-control" cdkTextareaAutosize >
                  </textarea>
                </td>
              </tr>
              <tr>
                <td  class="fw-bold">Sprint :</td>
                <td colspan="3">{{story.sprint?.title}}</td>
              </tr>
              <tr>
                <td  class="fw-bold">Story Points :</td>
                <td>                
                  <textarea name="storyPoints" (blur)="onLostFocus($event);"
                    [(ngModel)]="newStory.storyPoints" class="textarea-inline-control" cdkTextareaAutosize >
                  </textarea>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="col-12 col-md-3">
          </div>
          <div class="col-12 col-md-4 ps-0">
            <table class="table table-borderless">
              <tbody >
                <tr>                
                  <td colspan="2">                   
                    <mat-form-field >      
                      <mat-label>Status</mat-label>              
                      <mat-select  
                        name="status" 
                        [(ngModel)]="newStory.status" 
                        (selectionChange)="onSelectionChange($event)"
                        >
                        <mat-option *ngFor="let status of enumKeys(statuses)" [value]="status">
                          {{status}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">  
                    <mat-form-field >      
                      <mat-label>Version</mat-label>              
                      <mat-select  
                        name="appliVersion" 
                        [(ngModel)]="newStory.appliVersion"
                        (selectionChange)="onSelectionChange($event)"
                        >
                        <mat-option *ngFor="let v of versions$ | async" [value]="v.version">
                          {{v.version}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
      </div>
      <hr>
      <div class="row mt-4 mb-4 ps-0">
        <h5 class="ps-0">Description</h5>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" [(ngModel)]="newStory.description" name="description" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
        </div>
        <div class="d-flex flex-row-reverse pe-0">
          <div class="p-2 pe-0">
            <button type="button" class="btn btn-success" (click)="updateDescription()">Update</button>
          </div>
        </div>
      </div>
      <div class="row mt-4 mb-4 comments-box ps-0">
        <h5 class="ps-0">Commentaires</h5>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <mat-form-field>   
                <mat-label>Assignee</mat-label>           
                <input type="text"
                       matInput
                       name="assigneeId"
                       (blur)="onLostFocus($event);"
                       [(ngModel)]="newStory.assignedUser"
                       (ngModelChange)="filterAssignee($event)"
                       [matAutocomplete]="autoAssignee">
                <mat-autocomplete 
                  #autoAssignee="matAutocomplete" 
                  [displayWith]="displayUserFn"
                  (optionSelected)="onAssigneeSelectionChange()"
                >
                  <mat-option *ngFor="let user of filteredAssignees$ | async" [value]="user">
                    {{user | selectUserView}}
                  </mat-option>
                </mat-autocomplete>
                <button id="deleteAssigneeId"
                  matSuffix
                  mat-icon-button
                  (click)="resetAssignee($event)"
                  matTooltipPosition="below"
                >
                  <mat-icon color="warn">close</mat-icon>
                </button>
                <mat-hint>
                  <button type = "button" (click)="assignToMe()" class = "p-0 btn btn-link" style="text-decoration: none;">Assign to me</button>
                </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field >                     
                <mat-label>Reporter</mat-label>       
                <input type="text"
                       matInput
                       name="reporterId"                      
                       value="{{newStory.reporter| selectUserView}}"
                       readonly
                >
               
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;">
                <hr>
                <span style="font-weight: bold;">Dates</span>
            </td>
          </tr>
          <tr>
            <td class="fw-bold">Creation :</td>
            <td>{{story.creationDate}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Estimated End :</td>
            <td>{{story.estimatedEndDate}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Last Update :</td>
            <td>{{story.updateDate}}</td>
          </tr>
          <tr *ngIf="story.endDate">
            <td class="fw-bold">End Date (Only if done):</td>
            <td>{{story.endDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
 </div>
