
  <div class="view">
    <div class="container align-items-center login-container">
        <header class="text-center">
                <img alt="" border="0" src="assets/images/logo.png">
        </header>
        <br />
        <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" class="login-form" novalidate>
                        
            <div class="login">
                <div class="row">
                    <div class="col-md-4 pt-2 text-align-right">
                        Email :
                    </div>
                    <div class="col-md-5">
                        <input type="email" name="email" class="form-control" formControlName="username" />
                        <div class="alert alert-danger" [hidden]="username.untouched || username.valid">
                            A valid email address is required
                        </div>
                    </div>
                    <div class="col-md-3">                        
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 pt-2 text-align-right">
                        Password :
                    </div>
                    <div class="col-md-5">
                        <input type="password" name="password" class="form-control" formControlName="password" />
                        <div class="alert alert-danger" [hidden]="password.untouched || password.valid">
                            Password is required (6 or more characters with at least one number)
                        </div>
                    </div>
                    <div class="col-md-3">                        
                    </div>
                </div>
                <br />
                <div class="text-danger text-center" *ngIf="errorMessage">
                    <div class="statusRow">
                        <mat-icon>error</mat-icon>&nbsp;&nbsp;{{ errorMessage }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <button type="submit" class="btn blue-global-background-color w-100" [disabled]="!loginForm.valid">&nbsp;&nbsp;&nbsp;Log in&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
                
            </div>
        </form>

    </div>
</div>
