.container{
  margin:0;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.global-content {
  width: 100%;
}

.left-menu{
  position: sticky;
  top: 3rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
  /* z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;  */
}
