<div class="global-padding">
  <h3>Users</h3>
<div class="filter-header p-0">
  <mat-form-field class="filter-width">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <button mat-mini-fab class="float-end" (click)="addEditUser(emptyUser)">
    <mat-icon >add</mat-icon>
  </button>
</div>

<div class="mat-elevation-z8">
  <span class="danger">{{formErrorMessage}}</span>
  <mat-table [dataSource]="dataSource" class="users-table" matSort >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{roles | constantType: user.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Job </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{jobTitles | constantType: user.jobTitle}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{statuses | constantType: user.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button class="float-start" color="primary" (click)="addEditUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="float-end" color="warn" (click)="delete(user)">
          <mat-icon>delete</mat-icon>
        </button>
    </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of user users"
                 >
  </mat-paginator>
</div>
</div>
