.item-board-icon{
  font-size: -webkit-xxx-large;
}
.fa-cubes{
  color:#fbd885;
}
.fa-map-marker{
  color:#FFFF00;
}
.fa-cog{
  color:#48708d;
}
.prev-account-item{
  box-shadow: 1px 1px 5px 1px #DADADA;
  padding: 15px 10px;
  background-color: #fff;
  height: auto;
  border-radius: 5px;
  transition: .3s linear all;
  border: 1px solid #DADADA;
}
/* Transition to a bigger shadow on hover */
.prev-account-item:hover {
background: #eee;

}
.prev-account-item a{
  color:inherit;
}
.prev-account-item a:hover {
  text-decoration: none;
}
