<section class="project-create-section">
  <h1 class="title">Create Project</h1>
  <form [formGroup]="projectCreateForm" role="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" [formControl]="name" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" [formControl]="description" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</section>
